/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: middle;
text-align: center;
}*/


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

button,
textarea {
    padding: 3px;
    margin: 2px;
    margin-left: 0px;
    font-size: 12px;
}

.container {
    padding: 15px;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#notes {
    margin: 1px;
}

td {
    transition: background-color 1s linear;
}

#main {
    border: 1px solid black;
    border-spacing: 0px;
    /*Every third*/
}

input {
    outline: none;
    border: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
}

#notes {
    border: 0px;
}
#StepCNT
{
    font-size: 10px;
}
#cell {
    border: 0px solid black;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-transition: background 500ms ease;
-moz-transition: background 500ms ease;
-ms-transition: background 500ms ease;
-o-transition: background 500ms ease;
transition: background 500ms ease;
}

#c00 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c01,
#c03,
#c04,
#c06,
#c07 {
    border-top: 3px solid black;
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c31,
#c33,
#c34,
#c36,
#c37,
#c61,
#c63,
#c64,
#c67 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}


#c05,
#c02,
#c08 {
    border-top: 3px solid black;
    border-left: 0px solid black;
    border-right: 3px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c10,
#c20,
#c30,
#c40,
#c50,
#c60,
#c70 {
    border-top: 0px solid black;
    border-left: 3px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c13,
#c16,
#c43,
#c46,
#c73,
#c76 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c18,
#c28,
#c38,
#c48,
#c58,
#c68,
#c78 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 3px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c20,
#c50 {
    border-top: 0px solid black;
    border-left: 3px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c28,
#c58,
#c22,
#c25,
#c52,
#c55 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c21,
#c23,
#c26,
#c53,
#c56,
#c24,
#c27,
#c51,
#c54,
#c57,
#c81,
#c84,
#c87 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c12,
#c15,
#c42,
#c45,
#c72,
#c75,
#c32,
#c35,
#c38,
#c65,
#c62,
#c68 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 3px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c11,
#c14,
#c17,
#c41,
#c44,
#c47,
#c71,
#c74,
#c77,
#c66 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c80 {
    border-top: 0px solid black;
    border-left: 3px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid black;font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c81,
#c84,
#c87 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid black;font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c83,
#c86 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid black;font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

#c82,
#c85,
#c88 {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;-webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;
}

.full {
    width: 64px;
    height: 64px;
    font-size: 24px;
}

#notes {
    border-collapse: collapse;
}

#left {
    float: left;
    margin-left: 25%
}

#right {
    float: right;
    margin-left: 25%;
}

.clear {
    clear: both;
}

#MainGrid {
    display: none;
}

#Main {
    display: flex;
}